@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

$color1: hsl(239, 25%, 21.6%);
$color2: hsl(47, 88.3%, 62.8%);
$color3: white;
$width: 900px;
$min-height: 44px;

@mixin title {
  font-size: 3em;
  font-weight: 700;
  padding: 1em;
  display: flex;
  justify-content: center;
  font-variant: small-caps;
}

@mixin textfield {
  margin-top: 0.5em;
  width: 250px;
  border: 1px solid $color2;
  border-radius: 5px;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: hsl(239, 10%, 90%);
  color: $color1;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: $width;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4em;

  &__title {
    font-family: "amatic SC", sans-serif;
    font-size: 5em;
    padding: 0.5em 1.5em;
  }
}

.quiz {
  background-color: $color3;
  width: $width;
  box-shadow: 5px 5px 15px rgba($color1, 0.5);
  border-radius: 5px;
  overflow: hidden;
}

.intro {
  background-image: url("img/quiz-intro.jpg");
  height: 450px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.question-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 4em;

  &__title {
    @include title;
  }

  &__form {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 1.5em 2em;
    padding: 1.5em 1em 1.5em 0.5em;
  }

  &__question {
    font-size: 1.25em;
    font-weight: 700;
    padding-right: 0.5em;
    padding-left: 0.5em;
  }

  &__no-border {
    margin: 1.5em 2.5em;
  }

  &__answer {
    margin: 0.2em;
    padding-left: 2.5em;
  }

  &__dropdown {
    margin: 0 6.5em;
  }
}

.user {
  background-color: $color2;
  display: flex;
  flex-direction: column;
  padding-bottom: 4em;

  &__title {
    @include title;
  }

  &__content {
    display: flex;
    margin: 0 2em;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
  }

  &__answer {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
  }

  &__textfield {
    @include textfield;
    min-height: $min-height;
  }

  &__text {
    @include textfield;
    height: 129px;
  }
}

.label {
  display: flex;
}

.required {
  color: maroon;
  margin-left: 0.25em;
}

.send {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4em 0;

  &__title {
    margin-bottom: 1.5em;
  }

  &__content {
    background-color: $color1;
    color: $color3;
    border: 1px solid $color1;
    border-radius: 5px;
    padding: 1em;
  }
}
